td{
    border: 1px solid;
    width: 100px;
    height: 100px;
    align-items: center;
    background-color: cadetblue;
}
body{
    background-color: aqua;
}
.p{
   
    height: 50px;
   position: relative;
   left: 105;
   text-align: center;
}
.i{
    text-align: center;
    color: honeydew;
    font-size: 40px;
}